/*-Uso de FLEXBOX y GRID para el maquetado web*/
.mis-gustos 
{
    text-align: center;
}
  
.mis-gustos .box-container 
{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
    /*Columnas iguales del contenedor*/
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    gap: 1.5rem;
    margin-bottom: 2rem;
}
  
.mis-gustos .box-container .box 
{
    height: 30rem;
    overflow: hidden;
    position: relative;
}
  
.mis-gustos .box-container .box:hover .content 
{
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}
  
.mis-gustos .box-container .box img 
{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
  
.mis-gustos .box-container .box .content 
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #1a1a1a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 2rem;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: .2s linear;
    transition: .2s linear;
}
  
.mis-gustos .box-container .box .content h3 
{
    font-size: 2.5rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
}
  
.mis-gustos .box-container .box .content p 
{
    padding: 1rem 0;
    font-size: 1.5rem;
    line-height: 2;
    color: #aaa;
}
