
/*FUENTE IMPORTADA*/
@import url('http://fonts.cdnfonts.com/css/gloss-and-bloom');

/*ESTILOS PARA EL NAVBAR - MENU*/
*{
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: 'Century Gothic';
}

  
/*IMAGEN KINAL*/
.navegacion img
{
    z-index:90;
    max-width: 145px;
    max-height: 150px;
}

/*NAVBAR - MENU*/
.navegacion
{
    padding-top: 0px;
    padding-right: 1px;
    padding-left: 20px;
    background-color: #23376D;
    float: right;
    width: 100%;
    position: fixed;
    z-index: 100;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: right;
}
  
.navegacion ul
{
    list-style: none;
}
  
.menu > li
{
    position: relative;
    display: inline-block;
}
  
.menu > li > a
{
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    padding: 20px;
}
  
.menu li a:hover
{
      color: #23376D;
      background-color: #FFFFFF;
}
  
.contenido
{
      padding-top: 61px;
}
  
.hide 
{
    padding: 16px;
    font-size: 22px;
    background: #23376D;
    color: white;
    cursor: pointer;
    display: none;
}

/*RESPONSIVE*/
@media (max-width: 768px) 
{
    
    ul li 
    {
      width: 100%;
      padding: 15px;
      text-align: left;
    }
  
    .hide 
    {
      display: block;
    }
  
    nav ul 
    {
    display: none;
    }
}


/*Patrocinadores*/
*{
	margin:0;
	padding:0;
    box-sizing: border-box;
    font-family: 'Century Gothic';
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #23376D;
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
}

.partners
{
    background: #f2f2f2;
}

.galeria-port
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port
{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(223,51%,28%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
}

.hover-galeria img
{
    width: 50px;
}

.hover-galeria p
{
    color: #fff;
}

.imagen-port:hover .hover-galeria
{
    transform: scale(1);
}

@media screen and (max-width:900px)
{

    /* Galeria */

    .imagen-port
    {
        width: 44%;
    }

}

@media screen and (max-width:500px)
{
    /* Galeria */

    .imagen-port
    {
        width: 95%;
    }
}


/* EL TRABAJO BIEN HECHO */

.trabajo-bien-hecho
{
    background-color: #23376D;
}

.kinal
{
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 4rem;
    min-height: calc(50vh - 7rem);
}
  
.kinal .contenedor 
{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
}
  
.kinal .contenedor h3 
{
    color: #fff;
    font-size: 50px;
    padding-bottom: .5rem;
    text-align: center;
    font-family: 'Gloss And Bloom', sans-serif;                                       
}
  
.kinal .contenedor p 
{
    font-size: 25px;
    color: #FFFFFF;
    padding: 1rem 0;
    line-height: 1.5;
    text-align: center;
}

.kinal .contenedor .img
{
    max-width: 75px;
    max-height: 75px;
}

.kinal .contenedor .barra
{
    font-weight: bold;
    color: #FFFFFF;
    font-size: 50px;
}

.kinal .contenedor .texto
{
    font-weight: bold;
    color: #FFFFFF;
    font-size: 42px;
}

.capacitate
{
    display: flex;
    justify-content: center;
    align-content: center;
}

.texto
{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.tarjetas, body
{
    background-color: #16233F;
}

.tarjetas h1
{
    text-align: center;
    color: #FFFFFF;
    font-size: 65px;
}

.contenedor-cards 
{
    width: 90%;
    margin: 50px auto;
    background-color: #16233F;
    cursor: pointer;
}
  
.columna 
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
  
.card 
{
    width: 20%;
    margin-bottom: 50px;
    transition: 0.3s;
}
  
.encabezado-card-1 
{
    text-align: center;
    font-size: 35px;
    padding: 50px 10px;
    background: #FDCC00;
    color: #fff;
}

.encabezado-card-2
{
    text-align: center;
    font-size: 35px;
    padding: 50px 10px;
    background: #7D0A42;
    color: #fff;
}

.encabezado-card-3
{
    text-align: center;
    font-size: 35px;
    padding: 71px 5px;
    background: #23376D;
    color: #fff;
}

.encabezado-card-4
{
    text-align: center;
    font-size: 35px;
    padding: 71px 5px;
    background: #EB7207;
    color: #fff;
}
  
.card:hover 
{
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}
  
@media screen and (max-width: 1000px) 
{
    .card 
    {
      width: 40%;
    }
}
  
@media screen and (max-width: 620px) 
{
    .container 
    {
      width: 100%;
    }
  
    .heading 
    {
      padding: 20px;
      font-size: 20px;
    }
  
    .card 
    {
      width: 80%;
    }
}

.donar
{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 95vw;
    align-items: center;
    text-align: center;
}

.donar img
{
    max-width: 1000x;
    max-height: 1000px;
    grid-column: 1/5;
}

.donar-info
{
    grid-column: 7/10;
    padding: 0px;
}

.donar-info h2
{
    font-size: 2em;
    color: white;
}

.donar-info p
{
    font-size: 20px;
    color: white;
}

#color-turquesa
{
    color:#00C0FF;
}

/*Responsive Imagen*/

.responsive
{
    max-width: 100%;
    max-height: 100%;
}

/* ESTILO DEL BOTÓN */
.ov-btn-slide-close 
{
    font-size: 15px;
    background: orange; /* color de fondo */
    color: black; /* color de fuente */
    padding: 16px 20px;
    border-radius: 3px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    border-color: transparent;
    border: none
}
.ov-btn-slide-close:before, .ov-btn-slide-close:after 
{
    content: "";
    z-index: -1;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: -50%;
    background-color: #23376D; /* color de fondo hover */
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.ov-btn-slide-close:after 
{
    left: 100%;
}

.ov-btn-slide-close:hover 
{
    color: orange; /* color de fuente hover */
    cursor: pointer;
    text-decoration: none;
}
    
.ov-btn-slide-close:hover:before 
{
    left: 0;
    cursor: pointer;
    text-decoration: none;
}
    
.ov-btn-slide-close:hover:after
{
    left: 50%;
    cursor: pointer;
}

.cursos
{
    background-color: #1F2663;
}

footer
{
    bottom: 0px;
    width: 100%;
    background: #23376D;
    color: #D5DBDB;
    cursor: default;
}

.main-content
{
        display: flex;
}

.main-content .box
{
        flex-basis: 50%;
        padding: 10px 20px;
}

.box h2
{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}
    
.box .contactanos
{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 30px;
}
    
.box .content
{
        margin: 20px 0 0 0;
        position: relative;
}
      
.box .content:before
{
        position: absolute;
        content: '';
        top: -10px;
        height: 2px;
        width: 100%;
        background: #23376D;
}

.box .content:after
{
        position: absolute;
        content: '';
        height: 2px;
        width: 15%;
        background: #E67E22;
        top: -10px;
}

.left .content p
{
        text-align: justify;
}
      
.left .content .social
{
        margin: 20px 0 0 0;
}
      
.left .content .social a
{
    padding: 0 2px;
}

.left .content .social a span
{
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}
      
.left .content .social a span:hover
{    
    background: #E67E22;
        
}

.center .content
{
    padding-left: 30px;
}

.center .content .fas
{
        font-size: 1.4375rem;
        background: #1a1a1a;
        height: 45px;
        width: 45px;
        line-height: 45px;
        text-align: center;
        border-radius: 50%;
        transition: 0.3s;
        cursor: pointer;  
}

.center .content .fas:hover
{
    background: #E67E22;
}

.center .content .text
{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
}

.center .content .phone
{
    margin: 15px 0;
}

.right form .text
{
        font-size: 1.0625rem;
        margin-bottom: 2px;
        color: #656565;
}

.right form .msg
{
    margin-top: 10px;
}

.right form input, .right form textarea
{
    width: 100%;
    font-size: 1.0625rem;
    background: #151515;
    color: white;
    padding-left: 10px;
    border: 1px solid #222222;
}

.right form input:focus,
.right form textarea:focus
{
    outline-color: #3498db;
}

.right form input
{
    height: 35px;
}

.right form .btn
{
    margin-top: 10px;
}

.right form .btn button
{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #E67E22;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}

.right form .btn button:hover
{
    background: #000;
    color:white;
    font-weight: bold;
}

.bottom center
{
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
}
      
.bottom center span
{
    color: #656565;
}

.bottom center a
{
    color: #E67E22;
    text-decoration: none;
}

.bottom center a:hover
{
    text-decoration: underline;
}

@media screen and (max-width: 900px)  
{
        footer
        {
          position: relative;
          bottom: 0px;
        }
        .main-content
        {
          flex-wrap: wrap;
          flex-direction: column;
        }
        .main-content .box
        {
          margin: 5px 0;
        }
}

.contenedor-imagen{
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto-encima
{
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contenedor-imagen  h3 
{
    color: #fff;
    font-size: 50px;
    padding-bottom: .5rem;
    text-align: center;
    font-family: 'Gloss And Bloom', sans-serif;                                       
}

/*Carga de la Página*/

*:after, *:before
{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#contenedor-carga
{
  background-color: #23376D;
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 10000;
}

#carga
{
  border: 15px solid #ccc;
  border-top-color: #E67E22;
  border-top-style: groove;
  height: 100px;
  width: 100px;
  border-radius: 100%;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  -webkit-animation: girar 1.5s linear infinite;
  -o-animation: girar 1.5s linear infinite;
  animation: girar 1.5s linear infinite;
}

@keyframes girar 
{
  from
  {
      transform: rotate(0deg);
  }
  to
  {
      transform: rotate(360deg);
  }
}

::selection
{
    color: #CCC;
    background: #E67E22;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #006340;
	width: 100%;
	visibility: hidden;
	opacity: 0;
    text-align: center;
}

.submenu li a{
	display: block;
	padding: 12px;
	color: #fff;
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}


.contenedor-card
{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}

.title-cards
{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #7a7a7a;
}

.card-educacion
{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card-educacion:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card-educacion img{
	width: 100%;
	height: 210px;
}
.card-educacion .contenido-card{
	padding: 15px;
	text-align: center;
}
.card-educacion .contenido-card h3{
	margin-bottom: 15px;
	color: #7a7a7a;
}
.card-educacion .contenido-card p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
}
.card-educacion .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card-educacion .contenido-card a:hover{
	background: #2fb4cc;
	color: #fff;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}

.centrado-texto
{
    text-align: center;
    color: #FFFFFF;
    font-size: 35px;
}
